$pokeRed: #ee1515;
$pokeBlack: #222224;
$pokeWhite: #f0f0f0;

$robinEggBlue: #55DDE0;
$lapisLazuli: #33658A;
$charcoal: #2F4858;
$hunyadiYellow: #F6AE2D;
$orangePantone: #F26419;

$richBlack: #011627;
$babyPowder: #FDFFFC;
$lightSeaGreen: #2EC4B6;
$redPantone: #E71D36;
$orangePeel: #FF9F1C;